/Cyclone_scripts/
/Old/
/cesm_scripts/Obsolete/
/cesm_scripts/Analysis/Standard/DEF/
/cesm_scripts/Analysis/Standard/fSOMSST/
/cesm_scripts/Analysis/Standard/Ideal/
/cesm_scripts/Analysis/Standard/Old/
/cesm_scripts/Analysis/Standard/PerfectLatitude/
/cesm_scripts/Analysis/Standard/Realistic/
/cesm_scripts/Analysis/Standard/Rockies/
/cesm_scripts/Analysis/Standard/SOM/
/Regrid/*.nc
/Regrid/weights/
